<app-navbar></app-navbar>
<section style="background: rgba(30, 0, 255, 0.05);">
    <div class="welcome" id="welcome">
        <br><br><br><br>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../../assets/images/sdf-min.jpg" class="d-block mx-lg-auto img-fluid" width="400"
                        height="400" loading="lazy">
                </div>
                <div class="col-md-6 welcome-txt" id="text">
                    <h1 class="fw-500" style="font-size: 2em;"> Welcome to <span class="pizza">Afya-Bora
                            Counselling </span><span class="exc"></span> </h1>

                    <h2 class="display-5 fw- lh-1 mb-5" style="font-size: 1em; color: #5545CD;">HAVING A PROBLEM
                        ACCESSING YOUR
                        THERAPIST???.</h2>
                    <p class="lh-1 mb-3" style="font-size: 1.5em;">You can message your therapist anytime, and you can
                        also schedule a weekly phone, video, or live chat session with your therapist.</p>
                    <hr style="height:20px; width:90%; border-width:0;">

                    <a href="/about"><button class="btn btn-primary d-block" style="margin-left: auto;">Find out
                            More</button> </a>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- therapy -->
<section>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/images/mid-shot-woman-therapist-with-clipboard_23-2148759113.jpg"
                    class="d-block mx-lg-auto img-fluid" width="400" height="300" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h3 class="display-5 text-primary lh-1 mb-3" style="font-size: 3em;">Best Online Therapy</h3>
                <h1 class="display-5 fw-bold lh-1 mb-3" style="font-size: 2em;">Individual and group counselling</h1>
                <p class="lh-1 mb-3" style="font-size: 1.5em;">This counselling involves only the individual, but at times it can include others. For example, family or couples therapy can help address issues within these close relationships. Group therapy brings people with similar illnesses together in a supportive environment, and can assist the participant to learn how others cope in similar situations.</p>
            </div>
        </div>
    </div>
</section>
<!-- informatio -->
<section style="background: rgba(30, 0, 255, 0.05);">
    <div class="container row " style="width: 100%; margin: auto;">
        <div class="col-md-6">


            <div class="h-100 p-5 rounded-3">

                <h3 class="text-primary" style="font-size: 3em;"> Information </h3>

                <h1 class="display-5 fw-bold lh-1 mb-5" style="font-size: 2em;">A counsellor can help you work <br>
                    through your worst nightmares.</h1>
                <hr style="height:20px; width:50%; border-width:0;">
                <button class="btn btn-primary d-block" routerLink="/contact-us">Contact Us</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <p class="lh-1 mb-3" style="font-size: 1.5em;">The death of a loved one, loss of a job or the ending of
                    a relationship are difficult experiences for a person to endure. </p>
                <p class="lh-1 mb-3" style="font-size: 1.5em;">In major depression, thoughts are focused on ending one’s
                    life due to feeling worthless or undeserving of living or being unable to cope with the pain of
                    depression.</p>
                <p class="lh-1 mb-3" style="font-size: 1.5em;">This then call the need for a counsellor to give you
                    directions and more so meaning of life. Reach out to us and let our counsellors lead you to healing.</p>
            </div>
        </div>
    </div>

</section>
<!-- mental -->
<section>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-lg-6">
                <h1 class="display-5 fw- lh-1 mb- text-primary" style="font-size: 3em;">Mental health coaching</h1>
                <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 2em;">Will Mental Health Coaching help?</h3>
                <p class="lh-1 mb-3" style="font-size: 1.5em;">In our busy, fast-paced world, many people struggle daily with mental health issues like stress, anxiety, and depression. Whether they’re triggered or made worse by work, relationships, or family-living, not everyone finds it easy to seek help and guidance.
                    Mental health coaching plays a valuable role in all of these and we want to make it accessible from the comfort of your home.</p>
            </div>

            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/images/depressed.jpg" class="d-block mx-lg-auto img-fluid" width="400"
                    height="300" loading="lazy">
            </div>

        </div>
    </div>
</section>

<!-- Services section -->
<section id="what-we-do" style="background: rgba(30, 0, 255, 0.05);">
    <div class="container-fluid">
        <h1 class="section-title mb-2 h1 text-primary">What we do</h1>
        <h3 class="text-center">Having and managing a group of professional counsellors to offer the best services to our clients is our pride.</h3>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title text-primary">Depression</h3>
                        <p class="card-text">I Need Someone To Talk To About My Problems – But Where Do I Turn? Worry no
                            more..We are here to offer you the best counseling/advice to help you fight this.</p>
                        <a href="#" title="Read more" class="read-more">Read more
                            <i class="fas fa-prescription-bottle"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title text-primary">Self Esteem</h3>
                        <p class="card-text">Have you ever wondered if you’re good enough? We have good news for you. We
                            have the answer to that question and the answer is YES! Follow along and allow us to prove
                            it.</p>
                        <a href="#" title="Read more" class="read-more">Read more<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title text-primary">Stress</h3>
                        <p class="card-text">Here at AfyaBora we got you covered. We have a wide range of multiple
                            methods that we use to help out our clients! This helps people relieve stress that affects
                            them at different levels, both physically and emotionally.
                        </p>
                        <a href="#" title="Read more" class="read-more">Read more<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title text-primary">Anger</h3>
                        <p class="card-text">Simple relaxation tools, such as deep breathing and relaxing imagery, can
                            help calm down angry feelings. ... Slowly repeat a calm word or phrase such as "relax,"
                            "take it easy." Repeat it to yourself while breathing deeply. This is core to our clients
                        </p>
                        <a href="#" title="Read more" class="read-more">Read more<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title text-primary">Anxiety</h3>
                        <p class="card-text">Identifying what sort of anxiety you’re dealing with can be somewhat
                            challenging because how people’s bodies reacts to perceived danger is way too different. We
                            help you understand and identify harmful anxieties and how to prevent them</p>
                        <a href="#" title="Read more" class="read-more">Read more<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title text-primary">Mental Health</h3>
                        <p class="card-text">The AfyaBora Mental Health Program works to promote awareness about mental
                            health issues, inform public policy, achieve equity for mental health care comparable to
                            other health care, and reduce stigma and discrimination against those with mental illnesses.
                        </p>
                        <a href="#" title="Read more" class="read-more">Read more
                            <i class="fas fa-briefcase-medical"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Services section -->

<div class="why-choseus">
    <div class="main-chose">
        <div class="col-10 col-sm-8 col-lg-6">
            <!-- <img src="../../assets/images/woman-consoling-person-group-therapy-session_23-2148752111.jpg" class="d-block mx-lg-auto img-fluid" width="400" height="300" loading="lazy"> -->
        </div>

        <div class="inner-chose">
            <h1 class="text-primary">Why choose us </h1>

            <div class="inner-chose-content">
                <div class="main-inner-chose">
                    <div class="chose-icon">
                        <i class="fas fa-notes-medical"></i>
                    </div>
                    <div class="icon-content">
                        <p class="lh-1 mb-3" style="font-size: 1.5em;">We offer professional counselling and
                            psychotherapy services to the community. Mostly those
                            vulnerable to depression that may lead to suicidal thoughts or actions.</p>
                    </div>
                </div>
                <div class="main-inner-chose">
                    <div class="chose-icon">
                        <i class="fas fa-hospital-user"></i>

                    </div>
                    <div class="icon-content">
                        <p class="lh-1 mb-3" style="font-size: 1.5em;">We provide a welcoming, respectful and supportive
                            environment where individuals, couples, and
                            families can get the maximum level of counselling. </p>
                    </div>
                </div>

                <div class="main-inner-chose">
                    <div class="chose-icon">
                        <i class="fas fa-user-md"></i>
                    </div>
                    <div class="icon-content">
                        <p class="lh-1 mb-3" style="font-size: 1.5em;">At Afya Bora, our therapeutic approaches
                            emphasise the importance of the quality of the
                            relationship between therapist and client as the basis of a positive and fulfilling outcome
                            for our clients. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Testimonial Start -->
<section style="background: rgba(30, 0, 255, 0.05)">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3 text-primary" style="font-size:40px;">Our Clients Say!</h1>
        <h3>Many of our clients have kindly written a counselling review to provide
            you with an idea of what can be achieved with AfyaBora counsellors and psychotherapists.</h3>
    </div>
    <div class="container-fluid px-2 px-md-2 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
                <div class="card card-main border-0 text-center">
                    <h5 class="font-weight-bold mb-4"></h5>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card border-0 card-0">
                                    <div class="card profile py-3 px-4">
                                        <div class="text-center"> <img src="https://i.imgur.com/gazoShk.jpg"
                                                class="img-fluid profile-pic"> </div>
                                        <h6 class="mb-0 mt-2">Lucy</h6> <small>Backend Developer</small>
                                    </div> <img class="img-fluid open-quotes" src="https://i.imgur.com/Hp91vdT.png"
                                        width="20" height="20">
                                        <p class="content mb-0">Amanda was able to help me think through a lot of thoughts that made me feel extremely stuck
                                            and hopeless at the time.I am doing much
                                            better and am able to cope with my anxiety and OCD a lot better.I will definitely contact AfyaBora again in
                                            the future if I feel I need to reach out again”
                                            Thank you</p>, <img
                                        class="img-fluid close-quotes ml-auto" src="https://i.imgur.com/iPcHyJK.png"
                                        width="20" height="20">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-0 card-0">
                                    <div class="card profile py-3 px-4">
                                        <div class="text-center"> <img src="https://i.imgur.com/oW8Wpwi.jpg"
                                                class="img-fluid profile-pic"> </div>
                                        <h6 class="mb-0 mt-2">Verro</h6> <small>Fashion Designer</small>
                                    </div> <img class="img-fluid open-quotes" src="https://i.imgur.com/Hp91vdT.png"
                                        width="20" height="20">
                                        <p class="content mb-0">I came across Mita and AfyaBora when I was going through a rough patch and needed someone to
                                            help and listen. Mita was phenomenal from the first meeting, always attentive, never
                                            judgmental and helped me through such a difficult time. I would recommend AfyaBora and especially Mita to anyone in a similar position.
                                        </p> <img
                                        class="img-fluid close-quotes ml-auto" src="https://i.imgur.com/iPcHyJK.png"
                                        width="20" height="20">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-0 card-0">
                                    <div class="card profile py-3 px-4">
                                        <div class="text-center"> <img src="https://i.imgur.com/ndQx2Rg.jpg"
                                                class="img-fluid profile-pic"> </div>
                                        <h6 class="mb-0 mt-2">John Paul</h6> <small>Taxi Driver</small>
                                    </div> <img class="img-fluid open-quotes" src="https://i.imgur.com/Hp91vdT.png"
                                        width="20" height="20">
                                        <p class="content mb-0">Thank You, Tamara. I really appreciated your gentle, grounded process which provided me with
                                            peace of mind, clarity and a new perspective as I fought addiction to alcoholism. I was left with a feeling of
                                            energy and love towards you in particular and Afya Bora in general. For matters of addiction, reach out to Afya Bora. They are the best</p> <img
                                        class="img-fluid close-quotes ml-auto" src="https://i.imgur.com/iPcHyJK.png"
                                        width="20" height="20">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial End -->
<app-footer></app-footer>