<!-- <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-family:Reggae One;" href="#">Consultation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" style="margin-left: 30px;" routerLink="">Login</a>
                    <a class="nav-link" routerLink="/sign_up">Sign up</a>
                    <a class="nav-link" routerLink="/counsellor_registration">Are you a consultant?</a>

                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-5 pt-5">
        <div class="row g-0">
            <div class="col-lg-5">
                <h2 class="clo-lg-5 text-center py-5">Sign up</h2>
                <h4 class="clo-lg-5 text-center py-1" style="color: black;">Sign in, get help,dont struggle alone</h4>
                <form #registerForm='ngForm' (ngSubmit)="signUp()">
                    <input type="text" id="username" [(ngModel)]="username" class="form-control" name="username" placeholder="username">
                    <br>
                    <input type="email" id="email" [(ngModel)]="email" class="form-control" name="email" placeholder="email">
                    <br>
                    <input type="password" id="password " [(ngModel)]="password" class="form-control" name="password" placeholder="password">
                    <br>
                    <button class="btn btn-succes" type="submit ">Sign up</button>
                    <p class="clo-lg-5 text-center py-5">Have an account?<br><a routerLink="login">Login</a></p>
                </form>
            </div>
            <div class="col-lg-5">
                <img src="https://github.com/MosesOpiyo/counselling_front/blob/ft/moses/src/assets/images/therapy2.jpg?raw=true" class="img-fluid " alt=" ">
            </div>
        </div>
    </div>
</div> -->

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="cover">
            <div class="front">
                <img src="../../assets/images/signup.jpeg" alt="">
                <div class="text">
                    <span class="text-1">Sign in, get the best counseling<br> dont struggle alone</span>
                    <span class="text-2">We are here for you</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <nav class="navbar navbar-expand navbar-light">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-link" routerLink="/counsellor_registration" style="margin-left: 160px;">Are you a consultant?</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="title">Client-Signup</div>
                    <form #registerForm='ngForm' (ngSubmit)="signUp()">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" id="username" [(ngModel)]="username" class="form-control" name="username" placeholder="username">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" id="email" [(ngModel)]="email" class="form-control" name="email" placeholder="email">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" id="password " [(ngModel)]="password" class="form-control" name="password" placeholder="password">
                            </div>
                            <div class="policy">
                                <input type="checkbox">
                                <h3>I accept all terms & conditions</h3>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Submit Now">
                            </div>
                            <div class="text sign-up-text">Have an account? <label routerLink="login">Login</label></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>