<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="cover">
            <div class="front">
                <img src="../../assets/images/signup.jpeg" alt="">
                <div class="text">
                    <span class="text-1">Sign in, get the best counseling<br> dont struggle alone</span>
                    <span class="text-2">We are here for you</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <nav class="navbar navbar-expand navbar-light">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-link" routerLink="/counsellor_registration" style="margin-left: 160px;">Are you a consultant?</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="title">Client-Signup</div>
                    <form #registerForm='ngForm' (ngSubmit)="signUp()">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" id="username" [(ngModel)]="username" class="form-control" name="username" placeholder="username">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" id="email" [(ngModel)]="email" class="form-control" name="email" placeholder="email">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" id="password " [(ngModel)]="password" class="form-control" name="password" placeholder="password">
                            </div>
                            <div class="policy">
                                <input type="checkbox">
                                <h3>I accept all terms & conditions</h3>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Submit Now">
                            </div>
                            <div class="text sign-up-text">Have an account? <label routerLink="login">Login</label></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>